**CLEAN DATA**

# **Import và xử lý dữ liệu**

In [217]:
import pandas as pd
import numpy as np
import datetime

In [218]:
csv_raw='/content/drive/MyDrive/Colab Notebooks/Final Project/RawData/Bus_Breakdown_and_Delays.csv'
data_raw = pd.read_csv(csv_raw)

<ipython-input-218-612ebc5cc395>:2: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  data_raw = pd.read_csv(csv_raw)

In [219]:
data_raw.sample(4)

,School_Year,Busbreakdown_ID,Run_Type,Bus_No,Route_Number,Reason,Schools_Serviced,Occurred_On,Created_On,Boro,...,How_Long_Delayed,Number_Of_Students_On_The_Bus,Has_Contractor_Notified_Schools,Has_Contractor_Notified_Parents,Have_You_Alerted_OPT,Informed_On,Incident_Number,Last_Updated_On,Breakdown_or_Running_Late,School_Age_or_PreK
214425,2017-2018,1407961,Special Ed AM Run,4544,L524,Mechanical Problem,"22286,22688",01/31/2018 06:11:00 AM,01/31/2018 06:13:00 AM,NaN,...,46-60 Min,0,Yes,Yes,Yes,01/31/2018 06:13:00 AM,NaN,01/01/1900 12:00:00 AM,Running Late,School-Age
137639,2017-2018,1383215,Special Ed PM Run,1110,M767,Heavy Traffic,"02016,02519",11/01/2017 01:56:00 PM,11/01/2017 01:57:00 PM,Manhattan,...,31-45 Min,0,Yes,Yes,No,11/01/2017 01:57:00 PM,NaN,01/01/1900 12:00:00 AM,Running Late,School-Age
511025,2022-2023,1761414,Special Ed AM Run,2022,X422,Heavy Traffic,12450,11/01/2022 06:30:00 AM,11/01/2022 07:38:00 AM,Bronx,...,46-60 Min,0,No,No,No,11/01/2022 07:38:00 AM,NaN,01/01/1900 12:00:00 AM,Running Late,School-Age
11962,2015-2016,1245924,Special Ed AM Run,NI2150,K299,Heavy Traffic,16308,01/27/2016 06:25:00 AM,01/27/2016 06:38:00 AM,Brooklyn,...,45 MIN,0,Yes,Yes,No,01/27/2016 06:38:00 AM,NaN,01/27/2016 06:38:25 AM,Running Late,School-Age

In [220]:
# List columns in file
data_raw.columns

Index(['School_Year', 'Busbreakdown_ID', 'Run_Type', 'Bus_No', 'Route_Number',
       'Reason', 'Schools_Serviced', 'Occurred_On', 'Created_On', 'Boro',
       'Bus_Company_Name', 'How_Long_Delayed', 'Number_Of_Students_On_The_Bus',
       'Has_Contractor_Notified_Schools', 'Has_Contractor_Notified_Parents',
       'Have_You_Alerted_OPT', 'Informed_On', 'Incident_Number',
       'Last_Updated_On', 'Breakdown_or_Running_Late', 'School_Age_or_PreK'],
      dtype='object')

In [221]:
data_raw.drop(['Schools_Serviced', 'Has_Contractor_Notified_Schools', 'Has_Contractor_Notified_Parents', 'Have_You_Alerted_OPT', 'Informed_On', 'Incident_Number', 'Last_Updated_On'], axis=1, inplace = True)

In [222]:
data_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 596264 entries, 0 to 596263
Data columns (total 14 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   School_Year                    596264 non-null  object
 1   Busbreakdown_ID                596264 non-null  int64
 2   Run_Type                       596256 non-null  object
 3   Bus_No                         596251 non-null  object
 4   Route_Number                   596257 non-null  object
 5   Reason                         596262 non-null  object
 6   Occurred_On                    596264 non-null  object
 7   Created_On                     596264 non-null  object
 8   Boro                           585033 non-null  object
 9   Bus_Company_Name               596264 non-null  object
 10  How_Long_Delayed               539029 non-null  object
 11  Number_Of_Students_On_The_Bus  596264 non-null  int64
 12  Breakdown_or_Running_Late      596264 non-null  object
 13  School_Age_or_PreK             596264 non-null  object
dtypes: int64(2), object(12)
memory usage: 63.7+ MB

In [223]:
# Tổng số dòng trong file
len(data_raw.index)

596264

In [224]:
data_raw['Occurred_On'] = pd.to_datetime(data_raw['Occurred_On'])
data_raw['Created_On'] = pd.to_datetime(data_raw['Created_On'])
data_raw.dtypes

School_Year                              object
Busbreakdown_ID                           int64
Run_Type                                 object
Bus_No                                   object
Route_Number                             object
Reason                                   object
Occurred_On                      datetime64[ns]
Created_On                       datetime64[ns]
Boro                                     object
Bus_Company_Name                         object
How_Long_Delayed                         object
Number_Of_Students_On_The_Bus             int64
Breakdown_or_Running_Late                object
School_Age_or_PreK                       object
dtype: object

In [225]:
#Kiểm tra trùng lặp
def dup_rows_index(x):
  dup = data_raw[data_raw.duplicated()]
  print('Duplicated list:',dup[dup == True ].index.tolist())
  return dup

dup_rows_index(data_raw['Busbreakdown_ID'])

Duplicated list: []

Empty DataFrame
Columns: [School_Year, Busbreakdown_ID, Run_Type, Bus_No, Route_Number, Reason, Occurred_On, Created_On, Boro, Bus_Company_Name, How_Long_Delayed, Number_Of_Students_On_The_Bus, Breakdown_or_Running_Late, School_Age_or_PreK]
Index: []

In [226]:
# Kiểm tra giá trị năm học
pd.unique(data_raw['School_Year'])

array(['2015-2016', '2017-2018', '2016-2017', '2018-2019', '2022-2023',
       '2023-2024', '2019-2020', '2021-2022', '2020-2021'], dtype=object)

In [227]:
data_null=data_raw.isna()
data_null

,School_Year,Busbreakdown_ID,Run_Type,Bus_No,Route_Number,Reason,Occurred_On,Created_On,Boro,Bus_Company_Name,How_Long_Delayed,Number_Of_Students_On_The_Bus,Breakdown_or_Running_Late,School_Age_or_PreK
0,False,False,False,False,False,False,False,False,False,False,True,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596259,False,False,False,False,False,False,False,False,False,False,True,False,False,False
596260,False,False,False,False,False,False,False,False,False,False,False,False,False,False
596261,False,False,False,False,False,False,False,False,False,False,True,False,False,False
596262,False,False,False,False,False,False,False,False,False,False,True,False,False,False
596263,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [228]:
#Đếm số lượng NaN, check data type cho từng cột
# data_raw.isnull().sum()
for i in data_null.columns.values.tolist(): #Vòng lặp kiểm tra theo từng cột
  print(i) #In tên cột
  print(data_null[i].value_counts()) #Số lượng giá trị NaN/Null
  print('----------------------------------------------')

School_Year
False    596264
Name: School_Year, dtype: int64
----------------------------------------------
Busbreakdown_ID
False    596264
Name: Busbreakdown_ID, dtype: int64
----------------------------------------------
Run_Type
False    596256
True          8
Name: Run_Type, dtype: int64
----------------------------------------------
Bus_No
False    596251
True         13
Name: Bus_No, dtype: int64
----------------------------------------------
Route_Number
False    596257
True          7
Name: Route_Number, dtype: int64
----------------------------------------------
Reason
False    596262
True          2
Name: Reason, dtype: int64
----------------------------------------------
Occurred_On
False    596264
Name: Occurred_On, dtype: int64
----------------------------------------------
Created_On
False    596264
Name: Created_On, dtype: int64
----------------------------------------------
Boro
False    585033
True      11231
Name: Boro, dtype: int64
----------------------------------------------
Bus_Company_Name
False    596264
Name: Bus_Company_Name, dtype: int64
----------------------------------------------
How_Long_Delayed
False    539029
True      57235
Name: How_Long_Delayed, dtype: int64
----------------------------------------------
Number_Of_Students_On_The_Bus
False    596264
Name: Number_Of_Students_On_The_Bus, dtype: int64
----------------------------------------------
Breakdown_or_Running_Late
False    596264
Name: Breakdown_or_Running_Late, dtype: int64
----------------------------------------------
School_Age_or_PreK
False    596264
Name: School_Age_or_PreK, dtype: int64
----------------------------------------------

In [229]:
# Dữ liệu của cột Boro rỗng nhiều (Borough, county or state in which the delay occurred, as entered by the staff employed by the reporting bus vendor.)
# -> Fill bằng giá trị 'unspecified' vì tên quận không được nhân viên cung cấp
data_raw[(data_raw['Boro'].isnull())]

,School_Year,Busbreakdown_ID,Run_Type,Bus_No,Route_Number,Reason,Occurred_On,Created_On,Boro,Bus_Company_Name,How_Long_Delayed,Number_Of_Students_On_The_Bus,Breakdown_or_Running_Late,School_Age_or_PreK
16,2015-2016,1227558,Special Ed AM Run,2052,L524,Flat Tire,2015-11-05 08:22:00,2015-11-05 08:25:00,NaN,"RELIANT TRANS, INC. (B232",NaN,4,Running Late,School-Age
17,2015-2016,1227560,Special Ed AM Run,1205,P662,Heavy Traffic,2015-11-05 06:45:00,2015-11-05 08:26:00,NaN,ACME BUS CORP. (B2321),15 min,0,Running Late,School-Age
47,2015-2016,1227594,Special Ed AM Run,12568,P640,Other,2015-10-19 06:00:00,2015-11-05 11:49:00,NaN,ACME BUS CORP. (B2321),15mins,0,Running Late,School-Age
52,2015-2016,1227599,Special Ed AM Run,12541,P260,Heavy Traffic,2015-11-05 07:05:00,2015-11-05 12:12:00,NaN,ACME BUS CORP. (B2321),20Min,3,Running Late,School-Age
53,2015-2016,1227600,Special Ed AM Run,1318,P548,Heavy Traffic,2015-11-05 07:05:00,2015-11-05 12:14:00,NaN,ACME BUS CORP. (B2321),10Min,1,Running Late,School-Age
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
589020,2022-2023,1827983,Special Ed AM Run,50,S924,Heavy Traffic,2023-05-30 09:15:00,2023-05-30 09:31:00,NaN,ALL AMERICAN SCHOOL BUS CORP.,16-30 Min,0,Running Late,School-Age
593452,2022-2023,1832151,Special Ed AM Run,50,S924,Other,2023-06-16 14:30:00,2023-06-16 15:17:00,NaN,ALL AMERICAN SCHOOL BUS CORP.,31-45 Min,0,Running Late,School-Age
593654,2022-2023,1832335,Special Ed AM Run,50,S924,Heavy Traffic,2023-06-20 07:56:00,2023-06-20 07:58:00,NaN,ALL AMERICAN SCHOOL BUS CORP.,0-15 Min,0,Running Late,School-Age
594681,2022-2023,1815567,Special Ed AM Run,90,S923,Other,2023-04-20 14:00:00,2023-04-20 14:41:00,NaN,ALL AMERICAN SCHOOL BUS CORP.,16-30 Min,0,Running Late,School-Age
595552,2022-2023,1827549,Special Ed AM Run,50,S924,Other,2023-05-26 09:14:00,2023-05-26 09:15:00,NaN,ALL AMERICAN SCHOOL BUS CORP.,31-45 Min,0,Running Late,School-Age

In [230]:
data_raw['Boro'].fillna('unspecified', inplace=True)
pd.unique(data_raw['Boro'])

array(['New Jersey', 'Manhattan', 'Bronx', 'Westchester', 'Brooklyn',
       'Rockland County', 'Nassau County', 'unspecified', 'Queens',
       'Staten Island', 'All Boroughs', 'Connecticut'], dtype=object)

In [231]:
data_raw['Reason'].fillna('unspecified', inplace=True)
#data_raw['Incident_Number'].fillna('0', inplace=True)

In [232]:
data_raw[data_raw['Run_Type'].isnull()]

,School_Year,Busbreakdown_ID,Run_Type,Bus_No,Route_Number,Reason,Occurred_On,Created_On,Boro,Bus_Company_Name,How_Long_Delayed,Number_Of_Students_On_The_Bus,Breakdown_or_Running_Late,School_Age_or_PreK
65557,2016-2017,1311159,NaN,NI0649,K022,Late return from Field Trip,2016-12-23 14:22:00,2016-12-23 14:25:00,Brooklyn,"NEW DAWN TRANSIT, LLC (B2",45MINS,0,Running Late,School-Age
130244,2017-2018,1382111,NaN,1430,M437,Heavy Traffic,2017-10-30 07:52:00,2017-10-30 07:54:00,Manhattan,FIRST STEPS TRANSP INC. (B2192),16-30 Min,4,Running Late,School-Age
178100,2015-2016,1273634,NaN,404,P598,Flat Tire,2016-06-06 11:05:00,2016-06-06 11:07:00,Queens,LOGAN BUS COMPANY INC.,NaN,0,Breakdown,School-Age
494258,2021-2022,1703387,NaN,1258,Q141,Heavy Traffic,2022-02-18 07:20:00,2022-02-18 07:22:00,Queens,NYC SCHOOL BUS UMBRELLA SERVICES,31-45 Min,1,Running Late,School-Age
520589,2022-2023,1787310,NaN,1138,K805,Heavy Traffic,2023-01-18 13:06:00,2023-01-18 13:09:00,Brooklyn,NYC SCHOOL BUS UMBRELLA SERVICES,31-45 Min,0,Running Late,School-Age
537030,2022-2023,1778469,NaN,1751,L643,Heavy Traffic,2022-12-16 07:21:00,2022-12-16 07:23:00,Brooklyn,NYC SCHOOL BUS UMBRELLA SERVICES,31-45 Min,2,Running Late,School-Age
538888,2022-2023,1767897,NaN,4803,K761,Heavy Traffic,2022-11-16 07:44:00,2022-11-16 07:45:00,Brooklyn,NYC SCHOOL BUS UMBRELLA SERVICES,31-45 Min,0,Running Late,School-Age
585091,2022-2023,1799854,NaN,61601,K266,Weather Conditions,2023-02-28 06:15:00,2023-02-28 06:19:00,Brooklyn,EMPIRE STATE BUS CORP.,16-30 Min,0,Running Late,School-Age

In [233]:
data_raw['Run_Type'].value_counts()

Special Ed AM Run          349388
Special Ed PM Run           85033
General Ed AM Run           70939
Pre-K/EI                    66931
General Ed PM Run           19537
General Ed Field Trip        1876
Special Ed Field Trip        1698
Project Read PM Run           710
Project Read AM Run           139
Project Read Field Trip         5
Name: Run_Type, dtype: int64

In [234]:
# Thay các giá trị Nan trong Run_Type bằng giá trị xuất hiện nhiều nhất trong cột
data_raw['Run_Type'].replace(np.nan, data_raw['Run_Type'].value_counts().idxmax(), inplace=True)

In [235]:
#data_raw.dropna(subset=['Run_Type'], inplace= True)
data_raw.dropna(subset=['Route_Number'], inplace= True)

In [236]:
# Bus No
data_raw.dropna(subset=['Bus_No'], inplace =True)

In [237]:
min_students = data_raw['Number_Of_Students_On_The_Bus'].min()
max_students = data_raw['Number_Of_Students_On_The_Bus'].max()

In [238]:
data_raw[data_raw['Number_Of_Students_On_The_Bus']==9658][['Busbreakdown_ID','Bus_No', 'Number_Of_Students_On_The_Bus']]

        Busbreakdown_ID Bus_No  Number_Of_Students_On_The_Bus
366815          1575727   4545                           9658

*Số lượng học sinh lên đến 9658 học sinh trên 1 chuyến xe bus -> Data lỗi*

In [239]:
# Đi tìm số lượng dòng có hơn 50 học sinh trên 1 chuyến xe
len(data_raw.loc[data_raw['Number_Of_Students_On_The_Bus'] > 50])

405

In [240]:
# Drop những dòng chứa data lỗi
data_raw.drop(data_raw[data_raw['Number_Of_Students_On_The_Bus'] > 50].index, inplace =True)

In [241]:
# Recheck
len(data_raw.loc[data_raw['Number_Of_Students_On_The_Bus'] > 50])

0

In [242]:
#data_raw['How_Long_Delayed'].iloc[0].split(' ')[0]
# data_raw['Times_Delayed'] = range(len(data_raw['How_Long_Delayed']))
# for i in range(len(data_raw['How_Long_Delayed'])):
#   data_raw['Times_Delayed'][i] = data_raw['How_Long_Delayed'].iloc[i].split(' ')[i]

In [243]:
data_raw.isnull().sum()

School_Year                          0
Busbreakdown_ID                      0
Run_Type                             0
Bus_No                               0
Route_Number                         0
Reason                               0
Occurred_On                          0
Created_On                           0
Boro                                 0
Bus_Company_Name                     0
How_Long_Delayed                 57212
Number_Of_Students_On_The_Bus        0
Breakdown_or_Running_Late            0
School_Age_or_PreK                   0
dtype: int64

In [244]:
data_raw.dropna(subset=['How_Long_Delayed'],inplace =True)

In [245]:
# Drop những row có ký tự '?', '/' trong cột How_Long_Delayed

In [246]:
# How_Long_Delayed

#pd.unique(data_raw['How_Long_Delayed'])
data_raw[data_raw['How_Long_Delayed'].str.contains('\?')][['Bus_No', 'Reason', 'How_Long_Delayed', 'Breakdown_or_Running_Late']]

,Bus_No,Reason,How_Long_Delayed,Breakdown_or_Running_Late
532,430,Problem Run,?,Running Late
603,1679,Late return from Field Trip,????????,Running Late
604,1637,Late return from Field Trip,???????,Running Late
676,1574,Heavy Traffic,??????????,Running Late
678,1563,Heavy Traffic,??????,Running Late
...,...,...,...,...
296112,1334,Mechanical Problem,????????,Running Late
298258,1629,Late return from Field Trip,????,Running Late
298393,803,Heavy Traffic,??????,Running Late
311641,1630,Accident,???????,Running Late
312140,1644,Late return from Field Trip,??????,Running Late

In [247]:
list_HLD = data_raw['How_Long_Delayed'][data_raw['How_Long_Delayed'].str.contains('\?')]
list_HLD

532                ?
603         ????????
604          ???????
676       ??????????
678           ??????
             ...
296112      ????????
298258          ????
298393        ??????
311641       ???????
312140        ??????
Name: How_Long_Delayed, Length: 508, dtype: object

In [248]:
data_raw = data_raw[data_raw['How_Long_Delayed'].str.contains(u'\?') == False]

In [249]:
data_raw = data_raw[data_raw['How_Long_Delayed'].str.contains(u'/') == False]

In [250]:
# data_raw['How_Long_Delayed'].replace('??????????????', data_raw['How_Long_Delayed'].value_counts().idxmax(), inplace=True)
# data_raw['How_Long_Delayed'].replace(data_raw['How_Long_Delayed'].str.contains('\?'), list_HLD, inplace=True)
# data_raw.query("How_Long_Delayed == '\?' ")

In [251]:
data_raw['How_Long_Delayed'].str.contains('\?').sum()

0

In [252]:
data_raw['How_Long_Delayed'].value_counts()

31-45 Min     129344
16-30 Min     124301
46-60 Min      75440
0-15 Min       45584
61-90 Min      36225
               ...
15- mins           1
218                1
75MINS             1
45 MIN S           1
45 MINIUTE         1
Name: How_Long_Delayed, Length: 1693, dtype: int64

In [253]:
data_raw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 537209 entries, 1 to 596263
Data columns (total 14 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   School_Year                    537209 non-null  object
 1   Busbreakdown_ID                537209 non-null  int64
 2   Run_Type                       537209 non-null  object
 3   Bus_No                         537209 non-null  object
 4   Route_Number                   537209 non-null  object
 5   Reason                         537209 non-null  object
 6   Occurred_On                    537209 non-null  datetime64[ns]
 7   Created_On                     537209 non-null  datetime64[ns]
 8   Boro                           537209 non-null  object
 9   Bus_Company_Name               537209 non-null  object
 10  How_Long_Delayed               537209 non-null  object
 11  Number_Of_Students_On_The_Bus  537209 non-null  int64
 12  Breakdown_or_Running_Late      537209 non-null  object
 13  School_Age_or_PreK             537209 non-null  object
dtypes: datetime64[ns](2), int64(2), object(10)
memory usage: 61.5+ MB

In [254]:
data_raw[data_raw['How_Long_Delayed'].str.contains(u'h')]['How_Long_Delayed'].sample(5)

65261     1 hour
82895       1 hr
214966      1 hr
76743       1 hr
51528       1 hr
Name: How_Long_Delayed, dtype: object

In [255]:
data_raw["How_Long_Delayed"].replace(['HRS', 'HR', 'hrs', 'hour', 'hr'], 'Hrs', inplace = True)

In [256]:
data_raw['How_Long_Delayed'].sample(5)

87854     35-40 min
261512    16-30 Min
277757     0-15 Min
530192    31-45 Min
234313      30 MINS
Name: How_Long_Delayed, dtype: object

In [268]:
data_raw.reset_index(inplace=True)

In [270]:
data_raw.drop('level_0', axis=1, inplace = True)

In [271]:
data_raw.to_csv('NYC_Bus_Breakdown_Delay.csv')

# EDA

In [269]:
data_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537209 entries, 0 to 537208
Data columns (total 16 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   index                          537209 non-null  int64
 1   level_0                        537209 non-null  int64
 2   School_Year                    537209 non-null  object
 3   Busbreakdown_ID                537209 non-null  int64
 4   Run_Type                       537209 non-null  object
 5   Bus_No                         537209 non-null  object
 6   Route_Number                   537209 non-null  object
 7   Reason                         537209 non-null  object
 8   Occurred_On                    537209 non-null  datetime64[ns]
 9   Created_On                     537209 non-null  datetime64[ns]
 10  Boro                           537209 non-null  object
 11  Bus_Company_Name               537209 non-null  object
 12  How_Long_Delayed               537209 non-null  object
 13  Number_Of_Students_On_The_Bus  537209 non-null  int64
 14  Breakdown_or_Running_Late      537209 non-null  object
 15  School_Age_or_PreK             537209 non-null  object
dtypes: datetime64[ns](2), int64(4), object(10)
memory usage: 65.6+ MB